@tailwind base;
@tailwind components;
@tailwind utilities;

.bug {
  background: #aedf78;
}

.water {
  background: #43ccff;
}

.grass {
  background: #00ca91;
}

.fire {
  background: #e95c4d;
}

.normal {
  background: #a5a5a5;
}

.poison {
  background: #611380;
}

.electric {
  background: #f9be00;
}
.ground {
  background: #bfac21;
}

.fairy {
  background: #f87ea7;
}

.fighting {
  background: #e81319;
}
.psychic {
  background: #8a0532;
}

.ghost {
  background: #8e55a4;
}
.rock {
  background: #776a3e;
}
.ice {
  background: #66d1e5;
}
.flying {
  background: #5eb9b2;
}
.dark {
  background: #2d221c;
}

.dragon {
  background: #29036a;
}

.steel {
  background: #7b8e8a;
}
.unknown {
  background: #454545;
}

.shadow {
  background: #4f4f4f;
}
